<section class="searchBar flex">
    <div class="searchBar__container flex-row aling-center">
        <input class="searchBar__container__filter" type="text" placeholder="Filter by title, companies, expertise…">
        <div id="line"></div>
        <input class="searchBar__container__location" type="text" placeholder="Filter by location…">
        <div id="line"></div>
        <div class="searchBar__container__check flex-row aling-center">
            <input class="custom-checkbox" type="checkbox">
            <span></span>
            <p>Full Time Only</p>
        </div>
        <button click="">Search</button>
    </div>
</section>