<section class="searchBar flex">
    <div class="searchBar__container flex-row aling-centers">
        <div>
            <label class="searchBar__container__filter">
                <input>
            </label>
        </div>
        <div>
            <label class="searchBar__container__location" for="">
                <input>
            </label>
        </div>
        <div class="searchBar__container__check flex-row">
            <input class="" type="checkbox">
            <p>Full Time Only</p>
            <button>Search</button>
        </div>
    </div>
</section>