@use '../../../styles/variables' as *;
@use '../../../styles/utils' as *;


img{
    width: 50px;
    position: relative;
    margin-bottom: -25px;
    margin-left: 8px;
    
}
.card{
    width: 320px;
    height: 208px;
    padding: 15px;
    background-color: $Color-secondary;
    border-radius: 6px;

    &__container{
        margin-top: 30px;
        margin-bottom: -20px;
        gap: 30px;
    }
}
.t{
    font-size: 20px;
}

.m{
    font-size: 16px;
}

.l{
    font-size: 14px;
}